

body{
    font-family: 'Karla', sans-serif;
}

.font-spectral{
    font-family: 'Spectral', serif;
}

.font-balooDa{
    font-family: 'Baloo Da 2', cursive;
}

.logo-img{
    height: 65px;
}

nav.scroll {
    background-color: #155F7A;
    position: sticky;
    top: 0;
    z-index: 2;
    transition: background-color 0.4s ease-out;
  }

.navbar-bg-color{
    background-color: rgb(113, 174, 241);
    position: sticky;
    top: 0;
    z-index: 2;
    transition: background-color 0.4s ease-out;
}


.nav-links-font-size{
    font-size: 24px;
}

.header-section{
    height: 600px;
    background-image: url("../img/header-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fish-container-outline-border{
    height: 200px;
    width: 200px;
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
}

.btn-bg-color{
    background-color: #155F7A;
}

.card-shadow{
    box-shadow: 5px 5px 5px rgba(218, 216, 216, 0.9);
}

.text-color-blue{
    color: #155F7A;
}

.fish-category-container{
    margin-top: 100px;
}

.fish-container a{
    text-decoration: none;
}

.footer-a-tag{
    text-decoration: none !important;
    color: black;
}

.all-fish-container{
    padding-left: 80px;
    padding-right: 80px;
}

.category-name-one{
    margin-top: 40px;
}

.category-name-two{
    margin-top: 35px;
}

.category-name-three{
    margin-top: 52px;
}

.category-name-four{
    margin-top: 20px;
}

.carousel-card{
    margin: o auto;
}

.owl-dots{
    padding-top: 24px;
}

.input-border{
    border: none;
}
.input-border:focus{
    outline: none;
}

.footer-bg-color{
    background-color: #F4F8F8;
}

@media screen and (max-width: 1500px){
    .fish-container{
        position: absolute;
        top: 18px;
        left: 18px;
        width: 200px;
        background-color: rgba(240, 244, 247 , 0.9);
        border-radius: 10px;
        height: 200px;
    }
}

